<p-dialog
  (onHide)="closeDialog()"
  header="ProductDetail"
  [modal]="true"
  [(visible)]="visable"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <ng-container *ngIf="formState$ | async as formState">
    <form [ngrxFormState]="formState" (submit)="onSubmit()">
      <div class="card flex flex-col">
        <div class="flex items-center">
          <label for="username" class="min-w-28 me-3">Username</label>
          <div class="flex flex-col w-full">
            <input
              class="w-full"
              pInputText
              id="username"
              aria-describedby="username-help"
              [ngrxFormControlState]="formState.controls.title"
            />
          </div>
        </div>

        <div class="flex items-center mt-3">
          <label for="category" class="min-w-28 me-3">Category</label>
          <p-dropdown
            (onChange)="changeCategory($event)"
            [options]="categorys"
            placeholder="Select a City"
            [ngrxFormControlState]="formState.controls.category"
          />
        </div>
        <div class="flex items-center mt-3">
          <label for="price" class="min-w-28 me-3">Price</label>
          <p-inputNumber
            class="w-1/5"
            inputStyleClass="w-full"
            inputId="price"
            [ngrxFormControlState]="formState.controls.price"
          />
        </div>

        <div class="flex mt-3">
          <label for="description" class="min-w-28 me-3">description</label>
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            [ngrxFormControlState]="formState.controls.description"
          >
          </textarea>
        </div>
        <div class="flex mt-3">
          <div class="flex basis-1/2 items-center">
            <label for="rating" class="me-3 min-w-28">Rate</label>
            <p-inputNumber
              inputId="rating"
              [ngrxFormControlState]="formState.controls.rating.controls.rate"
            />
          </div>
          <div class="flex items-center">
            <label for="count" class="mx-3 text-center">Count</label>
            <p-inputNumber
              [inputStyleClass]="
                formState.controls.price.value >
                formState.controls.rating.controls.count.value
                  ? 'ngrx-forms-invalid'
                  : ''
              "
              inputId="count"
              [ngrxFormControlState]="formState.controls.rating.controls.count"
            />
          </div>
        </div>
      </div>

      <div class="flex justify-end mt-3">
        <p-button
          [disabled]="formState.isInvalid"
          type="submit"
          label="submit"
          class="me-3"
          severity="secondary"
        />
      </div>
    </form>
    <ul *ngIf="formState.isInvalid" class="error-messages" class="text-red-500">
      <li *ngIf="formState.errors['_title']?.required">A title is required</li>
      <li *ngIf="formState.errors['_title']?.textToohigh">
        A title is textToohigh
      </li>
      <li *ngIf="formState.errors['_price']?.required">A price is required</li>
      <li *ngIf="formState.errors['_price']?.priceTooHigh">
        A price is TooHigh
      </li>
    </ul>
    <h2 class="mt-2 text-xl font-bold">相同類別商品</h2>
    <ng-container *ngIf="specificCategory$ | async as product">
      <p-table [value]="product" [tableStyleClass]="'mt-2'">
        <ng-template pTemplate="header">
          <tr>
            <th>title</th>
            <th>price</th>
            <th>Category</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.title }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.category }}</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </ng-container>
</p-dialog>
